<div class="order-summary-card">
    <h4>Resumen del pedido</h4>
    
    <div class="order-item">
        <div class="item-details">
            <span>Producto</span>
        </div>
        <div class="item-price">
            <span>MXN 75</span>
        </div>
    </div>
    
    <div class="order-totals mt-3">
        <div class="total-row"><span>Subtotal</span><span>MXN 122.00</span></div>
        <div class="total-row"><span>Envío</span><span>MXN 20.30</span></div>
        <div class="total-row"><span>Impuesto estimado</span><span>MXN 0.40</span></div>
        <hr>
        <div class="total-row **font-weight-bold**">
            <span>Total</span>
            <span>**MXN 142.70**</span>
        </div>
    </div>
</div>